:root {
    --shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%);
}

.games { /* Game container */
    background: red;
}

.games > div { /* Game "slot"*/
    background: blue;
    display: inline-block;
    width: 150px;
    border-radius: 75px;
    position: relative;
    height: 150px;
    box-shadow: var(--shadow);
}

.games > div > img ~ .games > div {
    width: 100%;
}

.games > div > div { /* Game content */
    padding-left: 75px;
}

.games > div > div > h3,
.games > div > div > span { /* Game title */
    text-align: center;
}

.games > div > img { /* Game icon */
    position: absolute;
    box-shadow: var(--shadow);
    border-radius: 75px;
    width: 150px; height: 150px;
    top: 0;
}